@model AspNetCoreCRUD.Models.Client

@{
    ViewData["Title"] = "Удалить клиента";
}


<h3>Вы уверены, что хотите удалить клиента?</h3>
<div>
    <h4>Информация о клиенте</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentificationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAdd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Founders)
        </dt>
        <dd class="col-sm-10">
            @{ foreach (var client in Model.Founders)
                {
                    @client.FullName <br />
                }
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClientID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
